body {
background-color:#021B3F;
background-image:url('/www/pattern11c.png');
background-size:cover;
background-repeat:no-repeat;
color:white;
font-size:32px;

} 

p
{
font-family:"Times New Roman";
font-size:26px;
vertical-align: top;
}

p.title
{
font-size:32px;
color:#f0f0f0;
text-align:Left;
background-color:#fffff;
}

p.info
{
font-size:12px;
color:#f0f0f0;
text-decoration: bold;
text-align:Left;
background-color:#fffff;
}

